<h3>All Stores
   <small>in Merchandise Mart... we are expanding!</small>
</h3>

<div class="col-lg-4">
   <div>
       <img src="app/img/z1gz2r.png" height="551" width="348">
   </div>
</div>


<div class="col-lg-3">
   <div class="panel panel-default">
         <div class="panel-body">
            <a href="#" class="text-muted pull-right">
               <em class="fa fa-arrow-right"></em>
            </a>
            <div class="text-info">Current Store Capacity Filled</div>
            <canvas classyloader="" data-percentage="70" data-speed="20" data-font-size="40px" data-diameter="70" data-line-color="{{colorByName('info')}}" data-remaining-line-color="rgba(200,200,200,0.4)" data-line-width="10"
            data-rounded-line="true" class="center-block"></canvas>
            
         </div>
         <div class="panel-footer">
            <p class="text-muted">
               <span>Performing 11% better than Dunkin Donuts.</span>
            </p>
         </div>
      </div>

<!-- START widget-->
      <div class="panel widget bg-primary">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-primary-dark pv-lg">
               <em class="icon-trophy fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h1 m0 text-bold">2</div>
               <div class="text-uppercase">Industry Awards</div>
            </div>
         </div>
      </div>



      </div>

<div class="col-lg-5">

<!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">Top Store Managers</div>
         <div class="panel-body text-center">
            <div class="row">

               <div class="col-md-4">
                  <div data-label="100%" class="radial-bar radial-bar-90 radial-bar-success">
                     <img src="app/img/j1.png" alt="Image" />
                  </div>
                  <p>Carmen</p>
               </div>

               <div class="col-md-4">
                  <div data-label="100%" class="radial-bar radial-bar-90 radial-bar-success">
                     <img src="app/img/j2.png" alt="Image" />
                  </div>
                  <p>Christina</p>
               </div>

               <div class="col-md-4">
                  <div data-label="100%" class="radial-bar radial-bar-90 radial-bar-success">
                     <img src="app/img/j3.png" alt="Image" />
                  </div>
                  <p>Emile</p>
               </div>
            </div>
         </div>
      </div>
      <!-- END panel-->


</div>

