







<!-- START widgets box-->
<div class="row">

   <div class="col-lg-9">


      <div class="panel widget">
         <div class="panel-body">
            <div class="clearfix">
               <h3 class="pull-left text-muted mt0">2015 Q1 Statistics</h3>
            </div>

            <div class="col-lg-4 col-sm-6">
               <!-- START widget-->
               <div class="panel widget bg-success">
                  <div class="row row-table">
                     <div class="col-xs-4 text-center bg-success-dark pv-lg">
                        <em class="icon-check fa-3x"></em>
                     </div>
                     <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">946 $</div>
                        <div class="text-uppercase">sales per square foot</div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-sm-6">
               <!-- START widget-->
               <div class="panel widget bg-warning">
                  <div class="row row-table">
                     <div class="col-xs-4 text-center bg-warning-dark pv-lg">
                        <em class="icon-arrow-down fa-3x"></em>
                     </div>
                     <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">0.9 %
                        </div>
                        <div class="text-uppercase">same store sales growth</div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6">
               <!-- START widget-->
               <div class="panel widget bg-success">
                  <div class="row row-table">
                     <div class="col-xs-4 text-center bg-success-dark pv-lg">
                        <em class="icon-check fa-3x"></em>
                     </div>
                     <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">44.3</div>
                        <div class="text-uppercase">Inventory turnover ratio</div>
                     </div>
                  </div>
               </div>
            </div>

         </div>

      </div>
   </div>
  

   <div class="col-lg-3">
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="panel-title">Investor Relations</div>
         </div>
            
         <!-- START list group item-->
         <div class="list-group-item">
            <div class="media">
               <div class="pull-left">
                  <span class="fa-stack">
                     <em class="fa fa-circle fa-stack-2x text-purple"></em>
                     <em class="fa fa-file-text-o fa-stack-1x fa-inverse text-white"></em>
                  </span>
               </div>
               <div class="media-body clearfix">
                  <small class="text-muted pull-right ml">2 weeks</small>
                  <div class="media-heading"><a href="#" class="text-purple m0">New Store Openings</a>
                  </div>
                  <p class="m0">
                     <small><a href="#">new-stores.doc</a>
                     </small>
                  </p>
               </div>
            </div>
         </div>
         <!-- END list group item-->


         <!-- START list group item-->
         <div class="list-group-item">
            <div class="media">
               <div class="pull-left">
                  <span class="fa-stack">
                     <em class="fa fa-circle fa-stack-2x text-purple"></em>
                     <em class="fa fa-file-text-o fa-stack-1x fa-inverse text-white"></em>
                  </span>
               </div>
               <div class="media-body clearfix">
                  <small class="text-muted pull-right ml">3 months</small>
                  <div class="media-heading"><a href="#" class="text-purple m0">2014 Q4 Fiscal Year Results</a>
                  </div>
                  <p class="m0">
                     <small><a href="#">2014-Q4.xls</a>
                     </small>
                  </p>
               </div>
            </div>
         </div>   
      </div>

   </div>
</div>
<!-- END widgets box-->







<div class="row">


      <div class="panel widget">
         <div class="panel-body">
            <div class="clearfix">
               <h3 class="pull-left text-muted mt0">2015 Q1 User Engagement</h3>
            </div>

            <div class="col-lg-3 col-sm-6">
               <!-- START widget-->
               <div class="panel widget bg-success">
                  <div class="row row-table">
                     <div class="col-xs-4 text-center bg-success-dark pv-lg">
                        <em class="icon-users fa-3x"></em>
                     </div>
                     <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{visitCountPerHour}}</div>
                        <div class="text-uppercase">Unique Visits / hour</div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <!-- START widget-->
               <div class="panel widget bg-warning">
                  <div class="row row-table">
                     <div class="col-xs-4 text-center bg-warning-dark pv-lg">
                        <em class="icon-clock fa-3x"></em>
                     </div>
                     <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">{{averageVisitDuration}} min
                        </div>
                        <div class="text-uppercase">duration of visit</div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-6">
               <!-- START widget-->
               <div class="panel widget bg-success">
                  <div class="row row-table">
                     <div class="col-xs-4 text-center bg-success-dark pv-lg">
                        <em class="icon-credit-card fa-3x"></em>
                     </div>
                     <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">5.72 $</div>
                        <div class="text-uppercase">purchase / customer</div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-lg-3 col-md-6">
               <!-- START widget-->
               <div class="panel widget bg-success">
                  <div class="row row-table">
                     <div class="col-xs-4 text-center bg-g-dark pv-lg">
                        <em class="icon-social-twitter fa-3x"></em>
                     </div>
                     <div class="col-xs-8 pv-lg">
                        <div class="h2 mt0">2.7k</div>
                        <div class="text-uppercase">Checkins & Reviews</div>
                     </div>
                  </div>
               </div>
            </div>

         </div>

      </div>
      </div>
   </div>












<div class="row">
   <!-- START dashboard main content-->
      <!-- START chart-->
         <div class="col-lg-9">
            <!-- START widget-->
            <div id="panelChart9" ng-controller="FlotChartController" class="panel panel-default">
               <div class="panel-heading">
                  <paneltool tool-collapse="tool-collapse" tool-refresh="traditional"></paneltool>
                  <div class="panel-title">Marketing Effectiveness</div>
               </div>
               <div collapse="panelChart9" class="panel-wrapper">
                  <div class="panel-body">
                     <div data-source="server/chart-data.php?type=spline" class="chart-spline flot-chart"></div>
                  </div>
               </div>
            </div>
            <!-- END widget-->
         </div>

      
      <!-- END chart-->

<div class="col-lg-3">
      <div class="panel panel-default">
         <div class="panel-body">
            <a href="#" class="text-muted pull-right">
               <em class="fa fa-arrow-right"></em>
            </a>
            <div class="text-info">Current Store Capacity Filled</div>
            <canvas classyloader="" data-percentage="70" data-speed="20" data-font-size="40px" data-diameter="70" data-line-color="{{colorByName('info')}}" data-remaining-line-color="rgba(200,200,200,0.4)" data-line-width="10"
            data-rounded-line="true" class="center-block"></canvas>
            
         </div>
         <div class="panel-footer">
            <p class="text-muted">
               <span>Performing 11% better than Dunkin Donuts.</span>
            </p>
         </div>
      </div>
      </div>
   
</div>